@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary: rgb(255 100 82);
}
@font-face {
  font-family: 'Montserrat';
  src: url('../public/fonts/Montserrate/Montserrat-Regular.ttf')
    format(truetype);
}
@font-face {
  font-family: 'Palanquin-thin';
  src: url('../public/fonts/Palanuin/Palanquin-Thin.ttf');
}
@font-face {
  font-family: 'Palanquin-bold';
  src: url('../public/fonts/Palanuin/Palanquin-Bold.ttf');
}
@font-face {
  font-family: 'Palanquin-medium';
  src: url('../public/fonts/Palanuin/Palanquin-Medium.ttf');
}
@font-face {
  font-family: 'Palanquin-regular';
  src: url('../public/fonts/Palanuin/Palanquin-Regular.ttf');
}

.Navlink::before {
  content: '';
  width: 0;
  height: 2px;
  transition: all 0.5s ease;
  background-color: var(--primary);
  position: absolute;
  bottom: 12px;
  transform-origin: bottom;
  left: 0;
}
.Navlink:hover::before {
  width: 100%;
}
